@font-face {
  font-family:storopia;
  src:url(/static/font.woff) format('woff');
}

* {
    border-radius: 2px;
    font-family:storopia;
}

html {
    height:100vh;
}

body {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color:#CCCCCC;
    background-color:#000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin:0;
}

pre code {
    display:inline-block;
    overflow:auto;
    max-width:100%;
}

code {
    background-color:white;
    color:black;
    text-align:left;
}

.header {
    flex-shrink: 0;
    border-bottom: 1px solid #ffef99;
    border-radius:0px;
}

.header > :first-child {
    color:#ffef99;
    margin-left:5px;
}

.sub-header {
    display:inline-block;
    margin-bottom:5px;
}

.awarding-icon {
    font-size: small;
}

.awarding-icon img {
    max-width: 16px;
    max-height: 16px;
}

a {
    color:#ffef99;
    font-weight: bold;
    outline:none;
    text-decoration:none;
    word-break:break-word;
}

a:hover {
    color:#ffb734;
}

.sub-header b {
    color:#7154AA;
    font-weight: bold;
}

.sub-header b:hover {
    color:#ffb734;
}


.title {
    display: inline-block;
    font-size: 20px;
    margin:5px;
    margin-right:0px;
    font-weight: bold;
    color:#7154AA;
    vertical-align:middle;
}

.title:hover {
    color: #ffef99;
}


.button {
    max-width:300px;
    border:none;
    color:white;
    height:30px;
    padding:5px;
    font-weight: bold;
}

.button:hover {
    color: #ffef99;
}

i {
    font-style:normal;
    margin-left:2.5px;
    border-radius:10px;
    padding:2px;
}

small {
    padding-left:2.5px;
}

form {
    color:#ACA4F6;
}

textarea {
    color:#ACA4F6;
    height:100px;
    border: none;
    background: #0C0C0C;
}

hr {
    border:0px;
}

.footer hr{
    margin:0;
}

.footer {
    bottom:0;
    width:100%;
    text-align:center;
    color:#ACA4F6;
    flex-shrink: 0;
    background-color:#000;
}

.flair {
    
}

.spoiler {
    background:grey;
    color:grey;
}


.spoiler:hover {
    color:white;
}


.order {
    color:#ACA4F6;
}

.focus {
    color:#ffb734;
}

.content {
    flex-grow: 1;
    overflow: auto;
    text-align:center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin:0px 10px;
    word-break: break-word;
}

.content > :first-child {
    margin-top:10px;
}

.content::-webkit-scrollbar {
  display: none;
}

.comments {
    text-align:left;
}

.comment {
    background-color:#282828;
    padding:10px;
    margin-bottom:10px;
}


.post hr {
    border:1px solid #555;
}

.post {
    max-width:100%;
    background-color:#282828;
    padding:10px;
    padding-bottom:5px;
    margin-bottom:10px;
}

.post-content * {
    text-align: left; 
    margin: 5px 0px;
}

.post-content {
    margin:auto;
    overflow:auto;
    
}

.media {
    max-height: 80vh;
    max-width: 100%;
}

.poll {
    margin:auto;
    text-align:left;
    border:1px solid;
    margin-bottom:10px;
    padding:5px;
    border-radius:4px;
}

.poll input {
    display:inline;
}

.reply {
    border-left:1px solid white;
    border-radius:0px;
    padding:5px;
}

.comment hr {
    border:1px solid white;
}

table, th, td {
    border: 1px solid #ACA4F6;
    text-align:center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
    margin-bottom:10px;
}

.comments ul > li, .reply ul > li {
    list-style-type: none;
    margin:5px;
    padding:0;

}

li li {
    list-style-type:lower-alpha;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    margin-left: 5px;
}

blockquote {
    color: #888;
    border-left: 3px solid #333;
    margin-left: 0px;
    padding-left: 15px;
}

.comments table, th, td {
    margin-left: 5px;
    margin-right: 5px;
    text-align:left;
}


.link {
    margin-right:5px;
}

p, h1, h2, h3 {
    margin:0;
    padding:0;
}

.nsfw {
    display:none;
}

.nsfw + img {
    -webkit-filter: blur(8px);  
    filter: blur(8px);
}

.nsfw:checked + img {
    -webkit-filter: none;  
    filter: none;
}

.menu, .nav {
    margin-bottom:10px;
}

.menu a, .nav a {
    font-size:small;
    border-bottom:1px solid;
    border-radius:0px;
    padding:2px;
    margin:2px;
}


