<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="/static/favicon.svg" sizes="any" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
  </head>
  <body class="background">
    <div class="header">
      {{!header}}
      <hr>
    </div>    
    <div class="content">
      {{!content}}
    </div>
    <div class="footer">
      <hr>
      <a href="https://holyco.ws.kalli.st">All Rights Reversed &#x24C0;</a>
    </div>
  </body>
</html>

